<main class="d-flex flex-column">
    <div class="h-100 my-auto">
        <%- include('../partials/message') %>
        <form class="col-lg-4 col-md-9 bg-light p-3 border border-dark rounded m-auto" method="post" action="/api/spendings/new-spendings">
            <h2 class="mt-2 mb-3">Upload a new transaction</h2>
            <div class="mb-3">
                <label class="form-label" for="spendDate">Spending Date</label>
                <input class="form-control" name="spendDate" type="date" value="<%= new Date().toISOString().split('T')[0] %>" max="<%= new Date().toISOString().split('T')[0] %>">
            </div>
            <div class="mb-3">
                <label for="spendType" class="form-label">Spending Type</label>
                <select name="spendType" class="form-select">
                    <option selected value="-1">Select a type!</option>
                    <% for (let i = 0; i < selectData.length; i++) { %>
                        <option value="<%= selectData[i].id %>"><%= selectData[i].name %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="spendAmount" class="form-label">Spending amount</label>
                <div class="input-group">
                    <input class="form-control" name="spendAmount" type="number" min="0" value="0">
                    <label class="input-group-text bg-success text-light" for="">Ft</label>
                </div>
            </div>
            <input type="submit" value="Upload" class="btn btn-success">
        </form>
    </div>
</main>